body {
  font-size: 16px;
  line-height: 1.8;
  font-family: Avenir, -apple-system, "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

pre {
  white-space: pre-wrap;
}

#readme-container {
  padding: 20px 0;
}
